[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
sqlalchemy = "*"
cors = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-cors = "*"
sqlalchemy-serializer = "*"
marshmallow = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-script = "*"
flask-graphql = "*"
pyjwt = "*"
pillow = "*"
ariadne = "*"
flask-migrate = "*"
waitress = "*"

[dev-packages]

[requires]
python_version = "3.9"
